<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Create Category</h2>
	<a href="/categories">Back to List</a>
	<br/><br/>
	<form method="post">
		<table>
			<tr>
				<td>NAME</td>
				<td><input type="text" name="catname"></td>
			</tr>
			<tr>
				<td>DESCRIPTION</td>
				<td><input type="text" name="desc"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>
</html>