<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="../../css/reset1.css" > <!-- CSS reset -->
	<link rel="stylesheet" href="../../css/style1.css" > <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

			 
<style> 
body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


</style>



</head>
<body>
	<header class="cd-main-header">
		<a href="/admin" class="cd-logo"><img src="../../img/asd.png" class="Responsive" alt="Logo"></a>
		
		<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div> <!-- cd-search -->

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
				<li><a href="/admin">Home</a></li>
				<li><a href="/order">Orders</a></li>
				<li class="has-children account">
					<a href="#0">
						<img src="../../img/cd-avatar.png" alt="avatar">
						Account
					</a>

					<ul>

						<li><a href="/login/profile">My Account</a></li>
						<li><a href="/login/edit">Edit Account</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header> <!-- .cd-main-header -->

	<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>

				<li class="cd-label">Main</li>
				<li class="has-children notifications active">
					<a href="#0">Notifications<span class="count">3</span></a>
					
					
				</li>
				
				<li class="has-children overview">
					<a href="#0">Dashbord</a>
					
					<ul>
						<li><a href="oder/current">Curent Order</a></li>
						<li><a href="oder/pending">Pending Order</a></li>
						<li><a href="oder/completed">Completed Order</a></li>
					</ul>
				</li>
				

				<li class="has-children bookmarks">
					<a href="#0">Product</a>
					
					<ul>
						<li><a href="./add">Add Product</a></li>
						<li><a href="./edit">Edit Product</a></li>
						<li><a href="./delete">Delete Product</a></li>
					</ul>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Secondary</li>
				<li class="has-children comments">
					<a href="#0">Reviews</a>
					
					<ul>
						<li><a href="review">All Reviews</a></li>
						<li><a href="review/5">5 * Comments</a></li>
						<li><a href="Reviews/1">1 * Comments</a></li>
					</ul>
				</li>
				<li class="has-children images">
					<a href="#0">Reports</a>
					
					<ul>
						<li><a href="#0">Todays Orders</a></li>
						<li><a href="#0">Monthly Total sold Products</a></li>
					</ul>
				</li>

				<li class="has-children users">
					<a href="#0">Users</a>
					
					<ul>
						<li><a href="/user">All Users</a></li>
						<li><a href="/user/edit">Edit User</a></li>
						<li><a href="/user/add">Add User</a></li>
					</ul>
				</li>
			</ul>

			
		</nav>

		<div class="content-wrapper"  align="center">
			<br>
			<br>

			<ul>
      <% for(var i = 0; i < errs.length; i++){ %>
        <li><%= errs[i].message %></li>
      <% } %>
    </ul>
<h2>ADD Employee</h2>
<br>
	<br>
<div class="container">


  <form action="" method="post" enctype="multipart/form-data">
    <label for="fname">Employee Name:</label>
    <input type="text" id="fname" name="name" placeholder="Your name..">

    <label for="lname">Employee UserName:</label>
    <input type="text" id="lname" name="uname" placeholder="Your user name..">

    <label for="lname">Employee Password:</label>
    <input type="text" id="lname" name="pass" placeholder="Your password..">
     

       <label>Employee Image:</label>

       <input type="file" name="myImage"> <br> <br>

     
   
    

    <input type="submit" value="Submit">
  </form>


</div>
  






		</div> <!-- .content-wrapper -->
	</main> <!-- .cd-main-content -->




  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 


<script src="../../js/jquery-2.1.4.js"></script>
<script src="../../js/jquery.menu-aim.js"></script>
<script src="../../js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>